
nav {
    background-color: darkslategray;
    border-bottom: Solid 10px #793921 ;
    padding: 16px;
}
a:link {
    color: #d17c5c;
}
a:hover {
    color: #3b0868;
}

title {
    color: #d17c5c;
}

body {
    margin : 0px;
    padding: 0px; 
    background-color: whitesmoke;
}

main {
    margin : 0px;
    padding: 16px; 
    background-color: whitesmoke;
    color: darkslategray;
}

footer {
    padding: 24px, 0px, 24px, 0px;  /* Is 24px, 0px adequate in this situation? */
}

img {
    height: 200px;
}

footer {
    background-color: rgb(29, 75, 75);
    color: rgb(228, 136, 71);
    font-size: 20px;
    height: 30px; 
    text-align: center;
    padding: 5px;
}

.grid-container {
    display:grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr 
}
